/Environment.java
/ExpVarName.java
/IFctModel.java
/Matoi.java
/Mfgets.java
/Mfree.java
/Mmemcpy.java
/Mprintf.java
/Mpthread_create.java
/Mpthread_exit.java
/Mpthread_join.java
/Mpthread_mutex_destroy.java
/Mpthread_mutex_init.java
/Mpthread_mutex_lock.java
/Mpthread_mutex_unlock.java
/Mputs.java
/Mrand.java
/Msrand.java
/Mtime.java
